{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<section>
    <h1 class="ui center aligned icon header">
        <i class="circular massive tasks icon">
        </i>
        Bem-vindo à nossa ToDo-List !!
    </h1>

    <p>Aqui você acompanha todas as suas tarefas e tem uma visão geral do seu progresso.</p>
    <hr>
    <p>Você tem uma conta?</p>
    <div class="inline">
        <div class="ui basic button">
            <a href="{{ url_for('auth.login') }}">Entrar</a>
        </div>

        <div class="ui basic button">
            <a href="{{ url_for('auth.register') }}">Cadastre-se</a>
        </div>
    </div>
</section>
{% endblock %}